<div style="width:40%">

    <div fxLayout="row" class="mar-tp-header">
        <label fxFlex="50" class=" text-color font-600">{{static_data.Switch_Committee.Committee_name}}</label> <span
             fxFlex="50">{{committeeName}}</span>
    </div>
    <hr style="height: 2px;background-color: #002d56;">

    <div fxLayout="row" class="mar-tp-header">
        <label fxFlex="50" class=" text-color font-600">{{static_data.Switch_Committee.Candidate_name}} </label> <span
            fxFlex="50">{{candidateName}}</span>
    </div>
    <hr style="height: 2px;background-color: #002d56;">

    <div fxLayout="row" class="mar-tp-header">
        <label fxFlex="50" class=" text-color font-600">{{static_data.Switch_Committee.office_Sought}}</label> <span
           fxFlex="50"></span>
    </div>
    <hr style="height: 2px;background-color: #002d56;" >

    <div fxLayout="row" class="mar-tp-header">
      <label fxFlex="50" class=" text-color font-600">{{static_data.Switch_Committee.district}}</label> <span
          fxFlex="50">{{district}}</span>
  </div>
  <hr style="height: 2px;background-color: #002d56;" >

  <div fxLayout="row" class="mar-tp-header">
    <label fxFlex="50" class=" text-color font-600">{{static_data.Switch_Committee.election_date}}</label> <span
         fxFlex="50">{{electionDate}}</span>
</div>
<hr style="height: 2px;background-color: #002d56;" >

</div>



