.header-pad-top {
    padding-top: 15px;
    font-size: 20px;
    color: #005596;
    font-family: 'open sans', sans-serif;
    font-weight: 700;
    text-align: left;
    margin-bottom: 5px;
  }
  
  .btn-mar-align {
    margin-left: 87%;
  }
  mat-form-field{
    width: 400px;
  }
  .material-icons{
    color: #005596;
  }
  
  .tab-width {
      width: 50%;
  }
  
  .btn-mar-back {
    margin-left: 15px;
  }
  
  .col-sm-3, .col-sm-2{
    text-align: right;
  }
  
  #cancel-btn{
    padding-left: 435px;
  }
  #save-btn{
    padding-left: 25px;
  }


  // signature
  .wrapper {
    position: relative;
    width: 1010px;
    height: 310px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .signature-pad {
    position: absolute;
    left: 0;
    top: 0;
    width:1000px;
    height:300px;
    background-color: white;
  }
  // signature

  .mat-tab-body-content{
    overflow: hidden !important;
  }

  .width-20{
    width: 30%;
    padding-top: 11px;
  }
  .create-form {
    width: 100%;
  }
  
  .create-full-width {
    width: 80%;
  }

  .tab-width {
    width: 50%;
}