<!-- <div fxFlex="30" class="sub-section-2" style="margin-top: 5%;"> -->
  <!-- <div fxLayout="row">
    <h2 class="account-modules color-NavyBlue font-600"></h2>
</div>

<div fxLayout="row">
    <h2 class="account-modules color-NavyBlue font-600"></h2>
</div> -->

<div fxLayout="row" class="mar-tp-header">
    <label fxFlex="50" class=" text-color font-600">{{static_data.committee_registration.commitee_contact.address_1}}</label>
    <span fxFlex="50">{{address1}}</span>
</div>
<hr>

<div fxLayout="row" class="mar-tp-header">
    <label fxFlex="50" class=" text-color font-600">{{static_data.committee_registration.commitee_contact.address_2}}</label>
    <span fxFlex="50">{{address2}}</span>
</div>
<hr>
<div fxLayout="row" class="mar-tp-header">
    <label fxFlex="50" class=" text-color font-600">{{static_data.committee_registration.commitee_contact.city}}</label>
    <span fxFlex="50"></span>
</div>
<hr>
<div fxLayout="row" class="mar-tp-header">
    <label fxFlex="50" class=" text-color font-600">{{static_data.committee_registration.commitee_contact.state}} </label>
    <span fxFlex="50">{{state}}</span>
</div>
<hr>
<div fxLayout="row" class="mar-tp-header">
    <label fxFlex="50" class=" text-color font-600">{{static_data.committee_registration.commitee_contact.zipcode}}</label>
    <span fxFlex="50">{{zipcode}}</span>
</div>
<hr>
<div fxLayout="row" class="mar-tp-header">
    <label fxFlex="50" class=" text-color font-600">{{static_data.committee_registration.commitee_contact.camp_phone}}</label>
    <span fxFlex="50">{{campaignPhone}}</span>
</div>
<hr>

<div fxLayout="row" class="mar-tp-header">
    <label fxFlex="50" class=" text-color font-600">{{static_data.committee_registration.commitee_contact.alt_phone}} </label>
    <span fxFlex="50">{{alternatePhone}}</span>
</div>
<hr>

<div fxLayout="row" class="mar-tp-header">
  <label fxFlex="50" class=" text-color font-600">{{static_data.committee_registration.commitee_contact.camp_email}} </label>
  <span fxFlex="50">{{campaignEmail}}</span>
</div>
<hr>

<div fxLayout="row" class="mar-tp-header">
  <label fxFlex="50" class=" text-color font-600">{{static_data.committee_registration.commitee_contact.alt_email}} </label>
  <span fxFlex="50">{{alternateEmail}}</span>
</div>
<hr>

<div fxLayout="row" class="mar-tp-header">
  <label fxFlex="50" class=" text-color font-600">{{static_data.committee_registration.commitee_contact.comm_website}} </label>
  <span fxFlex="50"></span>
</div>
<hr>

<!-- </div> -->
