.footer {
    display: flex;
    justify-content: flex-end;
}
.cancel-btn {
    color: #0f5597;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
    background: transparent;
    transition: .2s;
    padding: 8px 16px;
    font-weight: 500;    
}
.cancel-btn:hover, .cleartxtbtn:hover{
    background-color: #e2e6ea;
    border-color: #e2e6ea;
}
.cancel-btn:focus{
    outline: none !important;
}
.cleartxtbtn {
    color: #0f5597;
    padding: 8px 16px;
    border: 0;
    background: transparent;
    border-radius: 4px;
    transition: .2s;
    font-weight: 500;    
}
.textonfos p{
    margin:8px 0px;
    letter-spacing: 0.24px;
    color: #00000099;
    font-size: 16px;
}
.matpopupbody-section{
    width: 400px;
}
.matpopupheader-section {
    margin-bottom: 16px;
}

.matpopupheader-section h2 {
    letter-spacing: 0.25px;
    color: #0f5597;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.matpopupheader-section p {
    letter-spacing: 0.24px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0;
}